/*default CSS-rules*/
fieldset{
	/*width:290px ;*/
}

textarea{
	resize:none;
}
body {
    /*background-color: #990033;*/
    background-image: url("../images/water-droplets.png");
    font-family:sans-serif;
}
a{
	color:#279a08;
	text-decoration: none;
}
a:hover{
	color:#135c00;
	text-decoration: underline;
}
/*a:focus provides readability when tabbing through page*/
a:focus{
	background-color: yellow !important;
	color: red !important;
}
header{
	width:101% ;
	margin-top: -0.5em;
	margin-left: -0.5em;
	margin-right: -0.5em;
}
header img{
	width:100% ;
}

main{
	color: #333333;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	background-color: white ;
	margin: 3% 10% 1% 10% ;
	padding: 2% ;
	border-top: 0.1em solid #090;
	border-right:0.5em solid #090;
	border-left:0.1em solid #090;
	border-bottom:0.5em solid #090 ;
}
article{
	color: #333333;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	background-color: white ;
	margin: 3% 10% 1% 10% ;
	padding: 2% ;
	border-top: 0.1em solid #090;
	border-right:0.1em solid #090;
	border-left:0.1em solid #090;
	border-bottom:0.1em solid #090 ;
}

#menu{
   width: 70%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0px;
   margin-top: 0px;
   padding: 0px;
   position: relative;
}

#menu ul{
    margin: 0px;
    padding: 0px;
}

#menu ul li{
    background-color: #41A810;
    position: relative;
    border: 1px solid #257100;
    float: left;
    list-style-type: none;
}
.file{
	width: 19% ;
}

.menuli{
	width: 100% ;
}
#menu ul li a{
	display: block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	/*width: 150px;*/
	text-decoration: none;
	text-align: center;
	color: #3f36b7;
	font-weight: bold ;
}

#menu ul ul {
    position: absolute;
    display: none;

}
#menu ul li:hover{
    background-color: #555;

}

#menu ul li:hover ul{
    display: block;

}
#menu ul li a:hover{
    color: cadetblue;

}

#menu ul li ul li a:hover{
    background-color: #040;
}
#ourteaIntro{
	text-align: center ;
}
#ourteaList{
	text-align: center ;
	list-style-type: none ;
}

#mobilBack{
	display: none ;
}
h1, h2{
	text-align:center;
}
#feedh1{
	text-align: left ;
}
.ourtea{
	display: none ;
}
.ourtea:target{
	display: block ;
	#ourteaIntro{display:none}
}
.ourtea h2{
	text-align: left ;
}
.ourtea img{
	width: 40% ;
	border-top: 0.1em solid #090;
	border-right:0.5em solid #090;
	border-left:0.1em solid #090;
	border-bottom:0.5em solid #090 ;
}
.picture-frame{
	/*margin-left: auto ;
	margin-right: auto ;*/
	text-align:center;
}
.picture-frame img{
	width: 55% ;
	border-top: 0.1em solid #090;
	border-right:0.5em solid #090;
	border-left:0.1em solid #090;
	border-bottom:0.5em solid #090 ;
}
.fill-div
{
    display:block;
    height:100%;
    width:100%;
    text-decoration:none;
}

/*CSS styling for regions/* flags*/
/*##############################*/
.regions-nav{
	width: 90% ;
	margin-left:auto;
	margin-right:auto;
	margin-top: 1em ;
}
.regions-nav li{
	display: inline-block ;
	text-decoration:none;

}
.region-flag{
	width: 19% ;
	height: 7.6em ;
	display:inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 0.2em ;
}
.region-flag a{
	font-weight: bold ;
	color: #43bd30;
}

#flag-chn{
	background-image: url('../images/flag-chn.jpg');
}
#flag-chn a{
	color: #fff724 ;
}
#flag-ind{
	background-image: url('../images/flag-ind.jpg');
}
#flag-ind a{
	color: #197900;
}
#flag-ken{
	background-image: url('../images/flag-ken.jpg');
}
#flag-ken a{
	color: #ff0e01;
}
#flag-sri{
	background-image: url('../images/flag-sri.jpg');
}
#flag-sri a{
	color:black;
}
#flag-tur{
	background-image: url('../images/flag-tur.jpg');
}
#flag-tur a{
	color:white;
}
/*.region:target{
	display:block;
}
.region{
	display:none ;
}*/

p{
	margin-left:auto;
	margin-right: auto ;
	width: 65% ;
}
